footer{
  display: grid;
  @media (width < 580px){
    grid-template-columns: repeat(1, 1fr);
  }
  @media (width >= 580px) and (width < 810px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width >= 810px){
    grid-template-columns: repeat(3, 1fr);
  }
  grid-auto-rows: 50px;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  text-align: center;
}