header{
  position: relative;
  min-height: 50px;
  padding: 5px;
  z-index: 10;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  user-select: none;
}

header > .logo{
  width: 48px;
  height: 48px;
}

header > .title{
  font-size: 0.9em;
  font-weight: 900;
}

.logo > img{
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
}

header > #theme-switcher{
  font-size: 30px;
  padding: 5px;
}