nav, nav > *{
  transition: .3s all linear !important;
  @media (width > 500px){
    flex-direction: row !important;
    gap: 50px !important;
  }
}

.nav-hidden, .nav-hidden > *{
  height: 0px !important;
  padding: 0px !important;
  opacity: 0;
}

.nav-shown{
  height: auto !important;
  padding: auto !important;
  opacity: 1;
}

nav > a:hover{
  transform: scale(1.1);
}