@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Exo+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url("header.css");
@import url("nav.css");
@import url("footer.css");
@import url("button.css");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  line-height: 1.5em;
}

:root{
  --dark-color: rgb(30, 30, 30);
  --light-color: rgb(220, 220, 220);
  --dark-lighter-color: rgb(60, 60, 60);
  --light-darker-color: rgb(190, 190, 190);
}

.lighter{
  background-color: var(--light-color);
  color: var(--dark-color);
}

.darker{
  background-color: var(--dark-color);
  color: var(--light-color);
}

.light{
  background-color: var(--light-darker-color);
  color: var(--dark-lighter-color);
}

.dark{
  background-color: var(--dark-lighter-color);
  color: var(--light-darker-color);
}

.light-shadow{
  box-shadow: 0px 0px 3px 3px var(--light-color);
}

.dark-shadow{
  box-shadow: 0px 0px 3px 3px var(--dark-color);
}

.light-outline{
  border: 1px solid var(--light-color);
}

.dark-outline{
  border: 1px solid var(--dark-color);
}


body{
  font-family: "Comfortaa", sans-serif;
  font-size: 1.1em;
}

main{
  position: relative;
  top: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a{
  color: inherit;
  padding: 3px;
  text-decoration: none;
  border-radius: 5px;
  transition: .3s all;
  text-align: center;
}

.card{
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: .3s all;
}

.card-image{
  width: 150px;
  height: 150px;
}

.card-description{
  text-align: center;
}

.warning{
  background-color: darkred;
  text-align: center;
  font-style: italic;
  line-height: 1.5;
}

.break-word-all{
  word-break: break-all;
}