@import url("components/shared.css");

main{
  align-items: center;
}

.content, .comparison{
  max-width: 1000px;
  width: 100%;
  overflow: hidden;
}

.comparison{
  overflow-x: scroll;
}

.grid-table{
  display: grid;
  text-align: center;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
}

.grid-table img{
  width: 80px;
  height: 80px;
}