@import url("components/shared.css");

main{
  justify-content: flex-start;
  align-items: center;
}

main > *{
  max-width: 1000px;
  width: 100%;
}

#thanks{
  align-items: stretch;
  > h2::first-letter{
    padding-left: 20px;
  }
}

form{
  width: 100%;
  max-width: 1280px;
}

form > h2{
  text-align: center;
  margin-bottom: 1em;
}

.gridfields{
  position: relative;
  display: grid;
  padding: 2.2em 1em 0.5em 1em;
  @media (width < 650px) {
    grid-template-columns: 1fr;
  }
  @media (width >= 650px) {
    grid-template-columns: repeat(2, 1fr);
  }
  gap: 2em;
}

.custom-placeholder{
  position: relative;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

input, textarea{
  position: relative;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  font-size: 1.1em;
  padding: 0.2em 0.3em;
  background-color: transparent;
  transition: all .5s;
  z-index: 2;
  color: inherit;
}

textarea{
  font-size: 1.2em;
  resize: vertical;
  height: 250px;
  color: inherit;
}

.custom-placeholder:has(> textarea){
  grid-column: span 1;
  @media (width >= 650px) {
    grid-column: span 2;
  }
}

.input-placeholder
{
  position: absolute;
  top: -1.2em;
  left: 0.1em;
  font-size: 1.2em;
  transition: all .5s;
  z-index: 1;
}

input:placeholder-shown + .input-placeholder,
textarea:placeholder-shown + .input-placeholder{
  transform: translate(0.8em, 1.4em);
}

#empty-space{
  @media (width < 650px) {
    display: none;
  }
}

button{
  padding: 10px;
  margin: 0px 30%;
  border-radius: 5px;
}

ul {
  width: 100%;
  padding: 0px 20px;
}

.popup{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(128, 128, 128, 0.5);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
}

.cog{
  position: relative;
  width: 50px;
  height: 50px;
  transform-origin: 25px;
  transform: rotate(0deg);
  border-radius: 25px;
  background-color: rgb(128, 128, 128);
}

.cog::before, .cog::after{
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 5px 5px rgb(126, 126, 126);
  border-radius: 10px;
  z-index: 10;
}

.cog::after{
  transform: rotate(45deg);
}