@import url("components/shared.css");

main{
  align-items: center;
}

main > .card{
  max-width: 1000px;
  width: 100%;
}

.info-head{
  display: grid;
  @media (width < 670px){
    grid-template-columns: 1fr;
  }
  @media (width >= 670px){
    grid-template-columns: 1fr 1fr;
  }
  grid-auto-flow: row dense;
  align-items: stretch;
}

.logo-title{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 20px;
  grid-row: span 1;
}

.logo-title > img{
  max-width: 100px;
}

.short-info{
  grid-row: span 2;

  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  gap: 10px;
}

.short-info > span{
  text-align: center;
}

.platform-list{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.off-link{
  @media (width < 670px){
    flex-direction: column;
  }
  width: 100%;
}

.paragraph{
  text-align: left;
  align-items: flex-start;
  padding: 20px;
}

.picture > img{
  border-radius: 10px;
}

.pros, .cons{
  align-items: flex-start;
}

.pros > h3, .cons > h3{
  width: 100%;
  text-align: center;
}

ul{
  margin-left: 20px;
}

li{
  padding: 5px 15px;
}

.pros li::marker{
  content: '+';
}

.cons li::marker{
  content: '-';
}

.disabled{
  background-color: rgba(128, 128, 128, 0.5);
}

img{
  transition: .3s all;
  max-width: 1000px;
}