@import url("components/shared.css");

main{
  justify-content: flex-start;
  align-items: center;
}

main > *{
  max-width: 1000px;
  width: 100%;
}

.filter-set{
  display: grid;
  @media (width < 500px){
    grid-template-columns: repeat(1, 1fr);
  }
  @media (width >= 500px) and (width < 810px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width >= 810px){
    grid-template-columns: repeat(3, 1fr);
  }
  gap: 30px;
  justify-content: stretch;
  align-items: stretch;
  max-width: 1280px;
  margin: auto;
  
}

fieldset{
  padding: 5px 10px;
  line-height: 1.5;
  border-radius: 10px;
  user-select: none;
}

fieldset select{
  height: 100%;
}

fieldset option{
  padding: 5px;
  font-size: 1.1em;
}

fieldset input{
  margin-right: 10px;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-360deg);
  }
}

.loading{
  animation-name: rotation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#list > a{
  display: block;
  width: 100%;
}

.list-item{
  width: 100%;
  transition: none;
  text-align: left;
  padding: 10px;
}

.list-item:hover{
  filter: invert(100%);
}

.list-item:hover img{
  filter: invert(100%);
}

.list-item-head{
  /* padding: 10px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  align-self: flex-start;
}

.list-item-img{
  width: 64px;
  height: 64px;
  transition: none;
}

.list-item-name{
  font-size: 1.3em;
}

.list-item-description{
  width: 100%;
}

.list-item-tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  font-size: 0.8em;
}