@import url("components/shared.css");

main > .grid{
  padding: 10px;

  display: grid;
  @media (width < 580px){
    grid-template-columns: repeat(1, 1fr);
  }
  @media (width >= 580px) and (width < 810px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width >= 810px){
    grid-template-columns: repeat(3, 1fr);
  }
  gap: 10px;
  justify-content: stretch;
  align-items: stretch;
  max-width: 1280px;
  margin: auto;
}

.grid > a{
  display: block;
  width: 100%;
  height: 100%;
}

.grid .card{
  height: 100%;
}

.grid > a:hover{
  transform: scale(1.03);
  border-radius: 10px;
}